h1 {
  font-size: 30px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-left: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.current-date {
  padding-left: 20px;
}

.search-bar {
  max-width: 400px;
  padding-top: 10px;
  padding-left: 20px;
  height: 35px;
}

.changeloc {
  border-radius: 5px;
  background-color: #f8dc81;
  color: #214151;
  border: 10px;
  box-shadow: 1px 1px 2px black;
  border-color: #f8dc81;
  margin-left: 5px;
  display: inline;
  height: 35px;
  margin-top: 20px;
}

.locbutton {
  border-radius: 5px;
  background-color: #f8dc81;
  color: #214151;
  border: 10px;
  box-shadow: 1px 1px 2px black;
  border-color: #f8dc81;
  margin-top: 20px;
  margin-left: 10px;
  display: inline;
  height: 35px;
}

.Weather canvas {
  margin: 10px auto;
}
